.profile {
  display: flex;
  justify-content: center;
}

.profile__form {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.profile__welcome {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 74px 0 123px;
  margin: 0;
}

@media (max-width: 768px) {
  .profile__welcome {
    padding: 236px 0 96px;
  }
}

@media (max-width: 400px) {
  .profile__welcome {
    padding: 70px 0 80px;
  }
}

.profile__input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 410px;
}

@media (max-width: 460px) {
  .profile__input-wrapper {
    width: 260px;
  }
}

.profile__input-wrapper:first-of-type {
  /* padding-bottom: 16px; */
  box-shadow: 0px 1px 0px 0px rgba(232, 232, 232, 1);
}

.profile__input-wrapper:last-of-type {
  padding-top: 16px;
}

.profile__label {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}

.profile__input {
  all: unset;
  text-align: right;
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__input:focus {
  outline: none;
  border: 1px solid #719ece;
}

.profile__input::placeholder {
  color: #a0a0a0;
}

.profile__button {
  all: unset;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 220px 0 16px;
}

@media (max-width: 768px) {
  .profile__button {
    margin-top: 210px;
  }
}

@media (max-width: 400px) {
  .profile__button {
    margin-top: 379px;
  }
}

.profile__signout-link {
  all: unset;
  color: #ee3465;
  text-align: center;

  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.profile__input-error {
  color: #ee3465;

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;

  padding: 0;
  border-top: 1px solid #ff0000;

  max-width: 410px;
  min-height: 15px;
  visibility: hidden;
}

/* @media (max-width: 640px) {
  .profile__input-error {
    width: 260px;
  }
} */

.profile__input-error_active {
  visibility: visible;
}

.profile__button:disabled {
  opacity: 0.3;
}

.profile__api-error {
  color: #ee3465;
  text-align: center;
}

.profile__edit-success {
  color: #ee3465;
  text-align: center;
}
