.profile {
  display: flex;
  justify-content: center;
}

.profile__form {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.profile__welcome {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 74px 0 123px;
  margin: 0;
}

@media (max-width: 768px) {
  .profile__welcome {
    padding: 236px 0 96px;
  }
}

@media (max-width: 400px) {
  .profile__welcome {
    padding: 70px 0 80px;
  }
}

.profile__input-wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 410px;
}

@media (max-width: 460px) {
  .profile__input-wrapper {
    min-width: 260px;
  }
}

.profile__input-wrapper:first-of-type {
  padding-bottom: 16px;
  box-shadow: 0px 1px 0px 0px rgba(232, 232, 232, 1);
}

.profile__input-wrapper:last-of-type {
  padding-top: 16px;
}

.profile__label {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__input {
  all: unset;
  text-align: right;
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__input:focus {
  outline: none;
  border: 1px solid #719ece;
}

.profile__input::placeholder {
  color: #000;
}

.profile__button {
  all: unset;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 220px 0 16px;
}

@media (max-width: 768px) {
  .profile__button {
    margin-top: 210px;
  }
}

@media (max-width: 400px) {
  .profile__button {
    margin-top: 379px;
  }
}

.profile__signin-link {
  color: #ee3465;
  text-align: center;

  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
