.portfolio {
  padding: 101px 70px 125px;
  background-color: #fafafa;
}

@media (max-width: 768px) {
  .portfolio {
    padding: 90px 50px;
  }
}

@media (max-width: 400px) {
  .portfolio {
    padding: 0 14px 70px;
  }
}

.portfolio__title {
  color: #a0a0a0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0 0 30px;
  margin: 0;
}

@media (max-width: 400px) {
  .portfolio__title {
    font-size: 14px;
    padding-bottom: 20px;
  }
}

.portfolio__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio__list-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__list-title {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  text-decoration: none;
  margin: 0;
}

@media (max-width: 768px) {
  .portfolio__list-title {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .portfolio__list-title {
    font-size: 18px;
    line-height: 28px;
  }
}

.portfolio__list-item {
  padding-top: 20px;
}

.portfolio__list-item:not(:last-of-type) {
  padding-bottom: 19px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.portfolio__arrow-link {
  background-image: url(../../../images/aboutme-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
  height: 50px;
}

@media (max-width: 400px) {
  .portfolio__arrow-link {
    background-image: url(../../../images/aboutme-arrow-lowres.svg);
    height: 28px;
  }
}
