.savedmovies {
  padding: 0 70px;
  background-color: #fafafa;
}

@media (max-width: 768px) {
  .savedmovies {
    padding: 0 30px;
  }
}

@media (max-width: 500px) {
  .savedmovies {
    padding: 0 10px;
  }
}
