.header {
  background-color: #dddee3;
  height: 74px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 70px;
}

@media (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 400px) {
  .header {
    padding: 0 14px;
  }
}

.header__logo {
  object-fit: cover;
}

.header__list {
  display: flex;
  gap: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  min-width: 76px;
  min-height: 32px;

  align-items: center;
  justify-content: center;
}

.header__link_signin {
  background-color: #3456f3;
  color: #ffffff;
  border-radius: 3px;

  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header_logged {
  background-color: #fafafa;
  height: 74px;
  display: flex;
  gap: 44px;
  align-items: center;
  padding: 0 70px;
}

@media (max-width: 768px) {
  .header_logged{
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .header_logged {
    padding: 0 14px;
  }
}



.header__nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 909px;
}


@media (max-width: 768px) {
  .header__nav_hidden{
    display: none;
  }
}


.header__list_logged {
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.header__link_logged {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.header__link_logged:hover {
  font-weight: 500;
}

.header__profile-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border-radius: 50px;
  border: 2px solid rgba(34, 34, 34, 0.2);
  width: 100px;
  height: 32px;
  text-align: center;
  justify-content: center;
}


@media (max-width: 768px) {
  .header__profile-link_hidden{
    display: none;
  }
}



.header__burger {
  display: none;
  margin: 0;
}

@media (max-width: 768px) {
  .header__burger {
    display: flex;
    all: unset;
    align-self: center;
    width: 44px;
    height: 44px;
  }
}





