.footer {
  padding: 0 70px;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .footer {
    padding: 0 30px;
  }
}

@media (max-width: 400px) {
  .footer {
    padding: 0 10px;
  }
}

.footer__title {
  padding: 79px 0 20px;
  margin: 0;
  text-align: center;
  color: #a0a0a0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 400px) {
  .footer__title {
    font-size: 12px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -1px 0px 0px rgba(232, 232, 232, 1);
  padding: 20px 0;
}

@media (max-width: 400px) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: center;
  }
}

.footer__copyright {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

@media (max-width: 400px) {
  .footer__copyright {
    font-size: 12px;
    order: 10;
    margin-top: 30px ;
  }
}

.footer__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

@media (max-width: 400px) {
  .footer__list {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
  }
}

.footer__link {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 400px) {
  .footer__link {
    font-size: 12px;
  }
}
