.promo {
  background-color: #dddee3;
  display: flex;
  justify-content: center;
  position: relative;
}

.promo__picture {
  padding: 82px 0 122px;
  position: absolute;
  z-index: 0;
}

@media (max-width: 768px) {
  .promo__picture {
    padding: 224px 0 240px;
  }
}

@media (max-width: 500px) {
  .promo__picture {
    padding: 142px 0 180px;
    width: 248px;
    height: 248px;
  }
}

.promo__title {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  text-align: center;
  z-index: 1;
  max-width: 730px;
  padding: 184px 0 224px;
  margin: 0;
}

@media (max-width: 768px) {
  .promo__title {
    padding: 326px 0 342px;
  }
}

@media (max-width: 500px) {
  .promo__title {
    font-size: 31px;
    line-height: 39px;
    padding: 207px 0 246px;
  }
}
