.searchform {
  padding: 70px 0;
  display: flex;
  background: #fafafa;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
}

@media (max-width: 768px) {
  .searchform {
    padding: 80px 0 110px;
  }
}

@media (max-width: 768px) {
  .searchform {
    padding: 80px 0 0;
  }
}

.searchform__wrapper {
  border-radius: 9px;
  background-color: #fff;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  width: 100%;
}

@media (max-width: 500px) {
  .searchform__wrapper{
    flex-direction: column;
    box-shadow: none;
  }
}

.searchform__form {
  display: flex;
  flex: 1;
}

@media (max-width: 500px) {
  .searchform__form{
    padding-left:19px;
    
  }
}

.searchform__switcher-area {
  display: flex;
  margin: 15px 0;
  padding: 12px 30px;
  gap: 14px;
  box-shadow: -1px 0px 0px 0px rgba(203, 203, 203, 1);
  flex: 0 0 156px;
}

@media (max-width: 768px) {
  .searchform__switcher-area {
    padding: 12px 20px;
  }
}

@media (max-width: 500px) {
  .searchform__switcher-area {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: #FAFAFA;
    box-shadow: none;
    flex: 0 0 110px;
    
  }
}

.searchform__icon {
  padding: 19px 10px 19px 19px;
}

@media (max-width: 500px) {
  .searchform__icon{
    display: none;
  }
}

.searchform__input {
  all: unset;
  color: #a0a0a0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  margin: 25px 0;
}


.searchform__input:focus {
  outline: none;
  border: 1px solid #719ece;
}

.searchform__input::placeholder {
  color: #a0a0a0;
}

.searchform__button {
  all: unset;
  padding: 19px 19px 19px 10px;
}

.searchform__text {
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

@media (max-width: 500px) {
  .searchform__text {
    font-size: 11px;
  }
}
